//Em geral, são as variáveis globais que vão definir cores, 
//espaçamentos e outras configurações desejadas para o funcionamento do seu framework em si. 
$azul-escuro : #262B43;
$azul-claro : #5681BF;
$branco : #D0D3D9;
$cinza-claro : #505050;

$font: 'Montserrat', sans-serif;
