<svg style="position: absolute; width: 0; height: 0; overflow: hidden; display:none" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
            <title>arrow Left</title>
            <path d="M10.445 11.214l11.111-11.111 4.834 4.833-11.112 11.112 11.111 11.111-4.834 4.834-15.947-15.945z"></path>
        </symbol>
        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
            <title>arrow right</title>
            <path d="M21.55 11.218l-11.101-11.103-4.831 4.829 11.103 11.103-11.101 11.102 4.829 4.83 15.934-15.933z"></path>
        </symbol>
        <symbol id="icon-quote" viewBox="0 0 32 32">
            <title>Quote mark</title>
            <path d="M30.336 18.336c-0.416-2.784-2.784-4.768-5.472-4.896 0.672-2.496 2.304-3.488 4.288-4.064 0.192-0.064 0.16-0.256 0.16-0.256l-0.32-1.984c0 0-0.032-0.16-0.288-0.128-6.848 0.768-11.488 5.984-10.624 12.32 0.8 4.384 4.224 6.080 7.392 5.632 3.168-0.512 5.344-3.456 4.864-6.624v0zM8.48 13.44c0.64-2.496 2.336-3.488 4.288-4.064 0.192-0.064 0.16-0.256 0.16-0.256l-0.288-1.984c0 0-0.032-0.16-0.288-0.128-6.848 0.736-11.456 5.952-10.656 12.288 0.832 4.416 4.288 6.112 7.424 5.664 3.168-0.512 5.344-3.456 4.832-6.624-0.416-2.816-2.752-4.8-5.472-4.896z"></path>
        </symbol>
    </defs>
</svg>

<!--<div class="navbar">
    <ul class="navbar-menu">
        <li class="menu-item menu-icon">
            <a href="" class="item ">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </li>
        <li class="menu-item item-name">
            <a href="#" class="item">
                <strong class="item-logo">Cifras Católicas</strong>
            </a>
        </li>
    </ul>
    <div class="header-field">
        <i class="fa fa-search icon-find" aria-hidden="true"></i>
        <input type="text" class="header-search" placeholder="Search">
    </div>
</div>-->


<nav>
    <div class="fixed-nav">
        <input type="checkbox" id="mobile-nav-check" class="invisible-checkbox" tab-index="-1" />
        <label for="mobile-nav-check" class="burger"></label>
        <div class="top">
            <div class="container">
                <a class="logo">LOGO</a>
                <!-- <a href="#" class="feature-button waves-effect waves-white">Feature Button</a> -->
                <input type="search" class="feature-button waves-effect waves-white" placeholder="Procurar cifra">
            </div>
        </div>

        <div class="bottom">
            <div class="container">
                <ul class="navigation">
                    <li class="pointer"></li>
                    <li class="active">
                        <a href="#" class="waves-effect waves-white">Todas as cifras</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-white">Artistas</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-white">Top Cifras</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-white">Momentos</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
