<figure>
    <img src="{{ musica.artista.img }}" alt="">
</figure>
<div class="cifra-options">
    <ul>
        <li class="option">
            <span class="type-option">Auto Rolagem</span>
        </li>
        <li class="option">
            <span class="option-before">-</span>
            <span class="type-option">Fonte</span>
            <span class="option-after">+</span>
        </li>
        <li class="option">
            <span class="option-before">-</span>
            <span class="type-option">½ Tom</span>
            <span class="option-after">+</span>
        </li>
        <li class="option">
            <span class="type-option">Imprimir</span>
        </li>
    </ul>
</div>