<figure>
    <img src="{{ musica.artista.img }}" alt="">
</figure>
<div class="cifra-options">
    <ul>
        <li class="option">
            Auto Rolagem
        </li>
        <li class="option">
            <span class="option-before">-</span>
            Fonte
            <span class="option-after">+</span>
        </li>
        <li class="option">
            <span class="option-before">-</span>
            ½ Tom
            <span class="option-after">+</span>
        </li>
        <li class="option">
            Imprimir
        </li>
    </ul>
</div>