{% extends "base.html" %}

{% block head %}
<title>CifrasCatólicas - {{ artista.titulo }}</title>
{% endblock %}


{% block content %}

		<section class="content">
			<div class="columns">

				<main class="main">
					<h1 class="title">{{ artista.nome }}</h1>

					<ul>
						{%- for musica in artista.musicas %}
							<li><a href="/{{ artista.slug }}/{{ musica.slug }}">{{ musica.nome }}</a></li>
						{% endfor %}
					</ul>

				</main>

				<aside class="sidebar-second">
					{% include 'partial/sidebar.html' %}
				</aside>

			</div>
		</section>

{% endblock %}
