{% extends "base.html" %}

{% block head %}
<title>CifrasCatólicas - {{ titulo }}</title>
{% endblock %}


{% block content %}
<section class="content">
	<div class="columns">

		<aside class="sidebar-first">
			<figure>
				<img src="https://picsum.photos/150/150" alt="">
			</figure>
			<div class="cifra-options">
				<ul>
					<li class="option">
						Cifra Simplificada
					</li>
					<li class="option">
						Auto Rolagem
					</li>
					<li class="option">
						<span class="option-before">-</span>
						Fonte
						<span class="option-after">+</span>
					</li>
				</ul>
			</div>
		</aside>

		<main class="main">
			<h1 class="title">Home</h1>
			<pre>{{ cifra }}</pre>
		</main>

		<aside class="sidebar-second">
			Sidebar second: Fixed width
		</aside>
	</div>
</section>

{% endblock %}
